<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写sql语句 namespace写接口的位置-->
<mapper namespace="com.pengyipeng.education.mapper.AddCourseTime">

    <insert id="addCourseTime">
         insert into class_times (course_id,class_kind,class_name,class_target,class_video_address) VALUES (#{courseId},#{classKind},#{className},#{classTarget},#{classVideoAddress})
    </insert>

    <insert id="addCourseinfo">
        insert into course(course_id,course_name,course_price,course_sort,course_date,course_introduce,course_cycle,course_ability_training,course_pic)
        VALUES (#{course_id},#{course_name},#{course_price},#{course_sort},#{course_date},#{course_introduce},#{course_cycle},#{course_ability_training},#{course_pic})
    </insert>

    <insert id="addCourseTeacher">
            insert into course_teacher(course_id,teacher_id) values (#{course_id},#{teacher_id})
    </insert>

    <insert id="addCourseProject">
            insert into course_project(course_id,project_id) values (#{course_id},#{project_id})
    </insert>

    <insert id="addCourseApplyphase">
            insert into course_applyphase(course_id,apply_phase_id) values (#{course_id},#{apply_phase_id})
    </insert>



</mapper>