<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengyipeng.education.mapper.MyCoursesDao">
    <select id="selectMyCourses" resultMap="CourseProjectTeacherStudentVO">
        SELECT co.*,
               tem.tname,
               cos.course_progress,
               clt.class_video_address,
               pr.id,
               pr.name
        FROM course co,
             course_student `cos`,
             course_teacher `cot`,
             teacher_manage tem,
             class_times clt,
             course_project cop,
             project pr
        WHERE co.course_id = cos.course_id
          AND co.course_id = cot.course_id
          AND cot.teacher_id = tem.tid
          AND co.course_id = clt.course_id
          AND co.course_id = cop.course_id
          AND cop.project_id = pr.id
          AND cos.student_id = #{sid}
    </select>

    <resultMap id="CourseProjectTeacherStudentVO" type="com.pengyipeng.education.model.vo.CourseProjectTeacherStudentVO">
        <id property="course_id" column="course_id"/>
        <result property="course_name" column="course_name"/>
        <result property="course_price" column="course_price"/>
        <result property="course_status" column="course_status"/>
        <result property="course_sort" column="course_sort"/>
        <result property="course_date" column="course_date"/>
        <result property="course_introduce" column="course_introduce"/>
        <result property="course_cycle" column="course_cycle"/>
        <result property="course_ability_training" column="course_ability_training"/>
        <result property="course_pic" column="course_pic"/>
        <result property="tname" column="tname"/>
        <result property="course_progress" column="course_progress"/>
        <result property="course_video_address" column="course_video_address"/>
        <collection property="projects" ofType="com.pengyipeng.education.model.entity.Project" resultMap="project"/>
    </resultMap>
    <resultMap id="project" type="com.pengyipeng.education.model.entity.Project">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
</mapper>