<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengyipeng.education.mapper.OrderDao">

    <select id="queryOrder" resultType="com.pengyipeng.education.model.vo.OrderVo">
        SELECT
        o.order_id,o.order_tradeNo,c.course_name,o.order_price,o.pay_price,o.payment,o.status,o.create_time,o.pay_time
        FROM
        `order` o
        LEFT JOIN course c ON o.course_id = c.course_id
        <where>
            <if test="courseName!=null and courseName!=''">
                c.course_name like concat('%',#{courseName},'%')
            </if>
            <if test="status!=null">
                o.status=#{status}
            </if>
        </where>
        and o.status!=0
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="countOrder" resultType="int">
        SELECT
        count(o.order_id)
        FROM
        `order` o
        LEFT JOIN course c ON o.course_id = c.course_id
        <where>
            <if test="courseName!=null and courseName!=''">
                c.course_name like concat('%',#{courseName},'%')
            </if>
            <if test="status!=null">
                o.status=#{status}
            </if>
        </where>
        and o.status!=0
    </select>

    <insert id="addOrder">
        insert into `order` (course_id, order_tradeNo, user_id, order_price, pay_price, payment, pay_time,
                             create_time)
        values (#{courseId}, #{orderTradeNo}, #{userId}, #{orderPrice}, #{payPrice}, #{payment}, #{payTime},
                #{createTime});
    </insert>


    <select id="queryOrderById" resultType="com.pengyipeng.education.model.entity.Order">
        select *
        from `order`
        where order_id = #{orderId}
    </select>

    <select id="queryOrderRefundById" resultType="com.pengyipeng.education.model.entity.OrderRefund">
        select *
        from order_refund
        where order_id = #{orderId}
    </select>


</mapper>